* {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    position: sticky;
    top: 0;
}


.left_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.header_logo {
    height: 20px;
    margin-left: 20px;
}


.left_header>h3 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-left: 5px;
    font-weight: 550;
}


.header_input {
    display: flex;
    align-items: center;
    width: 40%;
}


.header_input>input {
    flex: 1;
    height: 22px;
    padding: 3px;
    border-radius: 25px;
    border: 2px solid lightgray;
}


.header_inputButton {
    width: 10% !important;
    height: 22px;
    padding: 3px;
    border-radius: 25px 0px 25px 0px;
    background-color: white;
    color: grey;
    margin-left: 4px;
    border: 2px solid lightgrey;
}



.login_btn {
    background: red;
    color: white;
    height: 32px;
    width: 81px;
    margin-right: 10px;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid red;
}



@media (max-width:480px) {

    .header {
        width: 100%;
        overflow: scroll;
    }

    .header_logo {
        height: 15px;
        margin-left: -2px;
    }

    .left_header>h3 {

        font-size: 16px;
        margin-left: 3px;
        font-weight: 500;
    }


    .header_input {
        display: flex;
        align-items: center;
        margin-left: -45px;
    }


    .header_inputButton {
        height: 15px;
        padding: 3px;
        border-radius: 25px 0px 25px 0px;
        margin-left: 4px;
    }


    .header_input>input {
        height: 12px;
        padding: 2px;
    }


    .login_btn {

        height: 25px;
        width: 46px;
        margin-right: 13px;
        font-size: 13px;
        border-radius: 6px;
    }




}